@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: sans-serif;
}

*:focus{
    border: 0;
    outline: 0;
}